.navigation {
    display: flex;
    justify-content: center;
    padding: 12px;
  }
  .navigation__item {
    padding: 10px;
  }
  .navigation__link {
    color: #ffffff;
    text-decoration: none;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    transition: color 0.25s;
    color: #f87719;
  }
  .navigation__item:nth-last-child(1) {
    margin-left: 12px;
  }